defmodule <%= mod_name %>.ProxyService do
  @moduledoc false
  use GRPC.Server, service: <%= name %>

<%= Enum.map methods, fn(method) -> %>
  def <%= method %>(message, stream), do: <%= handler %>.handle(message, stream)
<% end %>

end